.ant-layout-header {
  height: unset;
  min-height: 72px;
}
.header {
  background: url("../assets/image/header-back.avif") no-repeat center;
  background-size: 100%;
}
@media screen  and (max-width:767px) {
  .header {
 background: url("../assets/image/header-back.avif") no-repeat center;
}
.ant-tabs{
  display: flex;
  justify-content: center;
  align-items: center;
}
.callInput{
  margin-left:12px;
}
#wx{
  width: 100vw;
  display: flex;
  align-items: flex-start;
  position: relative;
  left: -40px;
}
}